.wrapper{
    height: 1000px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgb(169, 168, 168);
    margin-top: 75px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    position: relative;  
    align-items: center;
    position: relative;
}
.Item{

    &__title{
        max-width: 1000px;
        width: 100%;
        text-align: center;
        font-size: 55px;
        color: rgb(0, 0, 0);
        font-weight: 500;
    }
    &__description{
        max-width: 750px;
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: rgb(81, 81, 81);
        font-weight: 500;
        margin-top: 25px;
    }
    &__imageBox{
        &__img{
            height: 550px;
            position: relative;
        }
        &__brand{
            position: absolute;
            right: 75px;
            top: 500px;
            font-size: 42px;
            color: rgb(93, 92, 92);
        }
    }
    &__block{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 20px;
        &__span{
            font-family: 'RobotoC';
            color: black;
            font-weight: 500;
            text-align: center;   
        }
        &__item{
            color: black;
            padding: 15px;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            box-shadow: 3px 3px 3px 3px gray;
        }
    }
}