.nav{
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 20px;
    background-color: red;
    &__list{
        display: flex;
        gap: 115px;
        padding: 25px;
        &__link{
            font-weight: 500;
            font-size: 23px;
            color: white;
            &:hover{
                color: rgb(193, 162, 50);
            }
        }
    }
}
